<mat-card class="example-card w3-margin main-card">
    <mat-card-content>
        <h4>
            Meet people in 3 simple steps!
        </h4>
        <img src="https://i.ibb.co/0t2KVhZ/logo.png" width="120px" class="w3-right">
        <ul>
            <li>Describe what you wnat to do</li>
            <li>Pick up your friends</li>
            <li>Schedule time and location</li>
        </ul>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="primary" class="call-to-action">Create event now!</button>
    </mat-card-actions>
</mat-card>