<h1 mat-dialog-title>Create event</h1>
<mat-dialog-content>
    <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="mainInformation">
            <form [formGroup]="mainInformation">
                <ng-template matStepLabel>Main information about Your event</ng-template>
                <input matInput placeholder="Name of the event.." formControlName="name" class="dialog-input">
                <textarea matInput placeholder="Description.." formControlName="description"
                    class="dialog-input"></textarea>
                <input matInput placeholder="Search for location type by a keyword.." formControlName="location"
                    class="dialog-input">
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="chooseParticipants">
            <form [formGroup]="chooseParticipants" style="display:block">
                <ng-template matStepLabel>Choose participants</ng-template>
                <div>
                    <input matInput placeholder="Search friends.." formControlName="searchFriends">
                </div>
                <div *ngFor="let friend of myFriends" style="display:inline-flex;text-align: center;">
                    <div style="padding: 1rem;">
                        <img src="{{friend.profilePhoto}}" class="friend-photo">
                        <span class="friend-name">{{friend.name}}</span>
                    </div>
                </div>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="selectLocation">
                <form [formGroup]="selectLocation">
                        <ng-template matStepLabel>Select location & time</ng-template>
                        <div>
                            <span>Date</span>
                            <input matInput placeholder="DD:MM" formControlName="date">
                            <input matInput placeholder="HH:MM" formContrlNoame="time">
                        </div>
                        <div>
                            <span>Location</span>
                            <input matInput placeholder="Set Your own.." formControlName="ownLocation">
                            <input matInput placeholder="Discover places with WawUp" formControlName="discoverLocation">
                        </div>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                        </div>
                    </form>
            </mat-step>


    </mat-vertical-stepper>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="saveEvent()">Add</button>
    <button mat-button>Cancel</button>
</mat-dialog-actions>