<mat-card class="w3-margin main-card">
    <mat-toolbar class="nobg">
        <span>Events map</span>
        <span class="example-fill-remaining-space"></span>
        <span>
            <button mat-icon-button aria-label="Add friends">
                <mat-icon>search</mat-icon>
            </button>
        </span>
    </mat-toolbar>
  <agm-map #gm [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  <div *ngFor="let item of data">
    <agm-marker
      [latitude]="item.location.lat"
      [longitude]="item.location.lng"
      [iconUrl]="{url: item.img, scaledSize: {width: 30, height: 30}}"
      [label]="item.name"
      (mouseOver)="onMouseOver(infoWindow,gm)">
      <agm-info-window [disableAutoPan]="false" #infoWindow>
        <div>
          {{item.name}}
        </div>
      </agm-info-window>
    </agm-marker>
  </div>
  </agm-map>
</mat-card>
