@import '../../../styles.scss';


.friend-photo {
    display:block;
    width:100px;
    height: 100px;
    cursor: pointer; 
    transition: all .2s ease-in-out; 
}
.place-icon {
    width:30px;
    height: 30px;
    cursor: pointer;
    transition: all .2s ease-in-out; 
}
.place-icon:hover { 
    transform: scale(1.1); 
}
.friend-photo:hover { 
    transform: scale(1.1); 
}
.friend-name {
    color:rgba(114, 114, 114, 0.795);
    text-align:center;
}

.mat-accordion {
    max-width: 300px;
}