
.event-card{
    min-width:auto;
    max-width: 300px;
    margin-bottom: 1rem;
    cursor: pointer; 
    transition: all .2s ease-in-out; 
}
.event-card:hover { 
    transform: scale(1.1); 
}
.my-events-container{
    align-items: left;
    justify-content: left!important;
}
