<mat-card class="w3-margin">

    <mat-toolbar class="nobg">
        <span>My friends</span>
        <span class="example-fill-remaining-space"></span>
        <span>
            <button mat-icon-button aria-label="Add friends">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button aria-label="Search friends">
                <mat-icon>search</mat-icon>
            </button>
        </span>
    </mat-toolbar>



    <div fxLayout="row wrap" fxLayoutGap="1rem" fxLayoutAlign="flex-start" class="my-friends-container">
        <div *ngFor="let friend of myFriends">
            <mat-card class="friend-card">
                <mat-card-header>
                    <div mat-card-avatar class="friend-image"></div>
                    <mat-card-title>{{friend.name}}</mat-card-title>
                    <mat-card-subtitle>{{friend.location}}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </div>
    </div>
</mat-card>