<div class="w3-margin"><h2>My friends:</h2></div>
<div fxLayout="row wrap" fxLayoutGap="2rem" fxLayoutAlign="flex-start" class="my-friends-container">
    <div *ngFor="let friend of myFriends">
        <mat-card class="friend-card">
            <mat-card-header>
                <div mat-card-avatar class="friend-image"></div>
                <mat-card-title>{{friend.name}}</mat-card-title>
                <mat-card-subtitle>{{friend.location}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>           
    </div>
 </div>
  