.friend-card{
    width: 300px;
    margin-bottom: 2rem;
    cursor: pointer; 
    transition: all .2s ease-in-out; 
}
.friend-card:hover { 
    transform: scale(1.1); 
}
.my-friends-container{
    align-items: center;
    justify-content: center!important;
}
  
.friend-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}